@import url("fonts.css");

html {
	border: 50px solid transparent;
	border-image: url(img/border2.png) 20 stretch;

	margin-right: 5%;
	margin-left: 5%;

	background-image: url(img/background.jpg);
	background-size: fill;
	text-shadow: 2px 2px #222222;
}

body *{
	border: 10px solid transparent;
	border-image: url(img/border2.png) 20 stretch;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: #2e89a3;

}

header {
	background-image: url(img/banner.jpg);
	background-size: contain;
	padding-top: 2%
}
	
header p {
	color: #EEEEEE;
	border: none;
	font-variant: small-caps;
}


#title {
	font-family: "QGRegular";
	font-size: 72px;
	margin-top: -30px;
}

#subtitle {
	margin-top: -35px;
/*	font-style: oblique;*/

}

.heading {
	color: #14fe7c;
	background: black;
	text-align: left;
	margin: 0px 20%;
	padding: 15px 0px;
	font-variant: small-caps;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 32px;
}

section {
	background: lightgrey;
	border: none;
}


.projects {
	/*margin-bottom: 200px;*/
	padding-bottom: 180px;
	border: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.active {
	padding-bottom: 5px;
}

.projects a {

	margin: 5px 5px 0px;
	padding: 5px 20px 180px;
	background: white;
	justify-content: center;
	width: 256px;
}


#canvas-link {

	color: #FFF;
	background-image: url(img/rnbw2.jpg);
	background-size: cover;
	transition-property: background-image, text-shadow;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#canvas-link:hover
{
	background-image: url(img/cyn-mgnt.jpg);
	text-shadow: 2px 2px #222222;
}

#x {
	background-image: url(img/blbsr.jpg);
	background-size: cover;
}

#y {
	background-image: url(img/chrmndr.jpg);
	background-size: cover;
}

#z {
	background-image: url(img/sqrtl.jpg);
	background-size: cover;
}

.motd {
	border: none;
}

.footwrapper {
	margin: 0px 40% 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #0066FF;

}

.footwrapper a{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	border: none;
	margin: 0px 10% 0px;
	color: #14fe7c;
	text-decoration: none;
}