html {
	background: url(./abner.jpg) no-repeat center center fixed;
	background-size: cover;
}

body {

	margin: auto;

	background: url(./abner.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}

span {
	color: white;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#title {
	font-size: 72px;
	font-variant: small-caps;
}
#subtitle {
	font-family: Times, Times New Roman, serif;
	font-size: 48px;
	font-style: italic;
}

.header * {
	margin: auto;
	margin-top: 200px;
}